<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reviews</title>
</head>
<body>
    @model IEnumerable<RESTauranter.Models.Reviews>
        
    @foreach (var r in Model)
    {
        <h3>Review for: @r.ResName -- @r.Stars star</h3>
        <h4>Reviewer: @r.ReviewName , @r.created_at</h4>
        <p style="margin-left:40px;">@r.UserReview</p>
        <hr style="height:1px; background-color:black;">
    }
</body>
</html>